/* Front End Draft 1 */
* {
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background: #FED8B1;
  /* background: radial-gradient(
    circle,
    rgba(221, 132, 78, 1) 0%,
    rgba(129, 99, 85, 0.8519782913165266) 100%
  ); */
}

.connect {
  width: 30%;
  margin: auto;
}

.logo {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logo-nav {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.navBar {
  display: flex;
  flex-direction: column;
  height: 95vh;
  padding-top: 5vh;
  width: 300px;
  background-color: rgb(30, 30, 30);
  position: sticky;
  top: 0px;
  bottom: auto;
}

a.link.partitionButton, #nav-home {
  margin-top: 0px;
}

#title {
  text-align: center;
  margin: 20px;
}
.link {
  text-align: center;
  margin-top: 40px;
  text-decoration: none;
  color: white;
}
.linkMessage{
  color: #d7af70;
}

.ConnectToCluster {
  text-align: center;
  
}
.btn {
  border-radius: 15px;
  border: none;
  width: 70%;
  height: 3vw;
  background-color: #d7af70;
}
.btn:hover {
  opacity: 0.7;
}

.connectCluster {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  align-items: stretch;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 30px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px 2px gray;
  min-width: 200px;
}

.clusterWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  text-align: center;
  align-items: stretch;
  padding: 30px;
  min-width: 200px;
}

.input {
  padding: 0 5px;
  border-radius: 15px;
  border: solid 1px gray;
  height: 50px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.submit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topics {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#connectionStatus {
  color: red;
}
#connectionSuccess {
  color: green;
}

.cluster-overview-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

div#container.MuiPaper-root {
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: whitesmoke;
}

.overview {
  background-color: #edbfc0;
}

.graph-page {
  margin: 40px;
}

.topic-name {
  margin-bottom: 2rem;
  text-align: center;
}

.chart-layout {
  display: flex;
  align-items:stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.chart-wrapper {
  width: 30vw;
  height: 30vh;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
}

/* loginPage Stuff */

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  border: 1px solid gray;
  border-radius: 15px;
  padding: 30px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px 2px gray;
  min-width: 200px;
}

#loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  margin: 10px 0px;
  padding: 5px 10px;
  height: 3vh;
  border-radius: 1vw;
}

.login-header {
  margin-bottom: 20px;
  text-align: center;
}

.signupUserData {
  margin: 10px;
  padding: 5px 10px;
  margin: 3px;
  height: 2vh;
  width: 15vw;
  border-radius: 1vw;
}


#success {
  color: green;
}
#fail {
  color: red;
}

/* messages - topic stuff */
.topicsWrapper {
  text-align: center;
  margin: 20px;
  margin: auto;
}
.topicsWrapper::-webkit-scrollbar {
  display: none;
}
.topicLink {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.topic{
  margin-top: 20px;
  border: 1px black solid;
  background-color: #d7af70;
  border-radius: 15px;
  width: 300px;
}

.topic:hover {
  opacity: 0.7;
}

#partitionWrapper {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  flex-wrap: wrap;
  height: 90vh;
  overflow-y: scroll;
}

.partitionContainer {
  background-color: #eddcbf;
  width: 500px;
  height: 500px;
  margin: 15px;
  border-radius: 40px;
  overflow-y: scroll;
}

.partitionContainer::-webkit-scrollbar {
  display: none;
}

#container {
  background-color: #eddcbf;
}
#clusterWrapper {
  margin: 20px;
}
#testTool{
  margin: auto;
  text-align: center;
  display: grid;
  gap: 10px;
}
.btnx{
  margin: auto;
}
.message{
  padding: 10px;
}

