/* Front End Draft 1 */
#main {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.navBar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 300px;
  background-color: rgb(30, 30, 30);
  margin-left: -10px;
  margin-top: -10px;
}
#title {
  text-align: center;
}
.link {
  text-align: center;
  margin-top: 40px;
  text-decoration: none;
  color: white;

}

.ConnectToCluster {
  text-align: center;
}
.btn{
  border-radius: 15px;
  border: none;
  width: 150px;
  height: 35px;
}
.btn:hover{
  opacity: .7;
}

.connectCluster{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}


.input{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: solid 1px black;
    height: 50px;
}
.topics{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#connectionStatus{
  display: none;
  color: red;
}
#connectionSuccess{
  display: none;
  color: green;
}


/* .pieChart{
  width: 50vh;
} */